RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
AddType application/octet-stream .mp4
AddType application/octet-stream .mkv
AddType application/octet-stream .pdf
AddType application/octet-stream .zip
AddType application/octet-stream .csv
AddType application/octet-stream .jpg
AddType application/octet-stream .jpeg
AddType application/octet-stream .xls
AddType application/octet-stream .png
AddType application/octet-stream .doc
php_value max_file_uploads  2000
php_value upload_max_filesize  40000M
php_value max_input_vars  10000
php_value post_max_size  40000M
php_value suhosin.post.max_vars 10000
php_value suhosin.request.max_vars 10000
php_value suhosin.get.max_array_depth 2000
php_value suhosin.get.max_vars 10000
php_value suhosin.upload.max_uploads 2000
